@font-face {
    font-family: 'Billion Dreams';
    src: URL('fonts/BillionDreams.ttf') format('truetype');
  } 

  :root{
      --main-accent-color:#78be21;
      --main-accent-color2:#00573f;
      --main-accent-color3:#b7db57;
  }
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:10px;
    font-family:'Roboto',sans-serif;
    color:#eee;
    min-height: -webkit-fill-available;
    
}

body{
    width: 100%;
    height: 100%;
    background:url("images/sitebg.jpg") no-repeat center fixed;
    background-size:auto;
}

a{
    text-decoration: none;
    color:#eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;;
}
img{
    width:100%;
}
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin:0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom:5rem;
    margin-top:10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color:rgba(255,255 ,255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content:'';
    position: absolute;
    bottom:-.5rem;
    left:50%;
    transform:translateX(-50%);
    background-color: rgba(255,255 ,255, .75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom:-1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right{
    margin-right: 5rem;
}

header{
    width:100%;
    height: 100vh;
}

.top-nav{
    width:100%;
    height: 100vh;
    position: fixed;
    top:-100vh;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius:100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style:none;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.li{
    margin:0 2rem;
}

.nav-link{
    font-family: 'Billion Dreams', sans-serif;
    font-size:5rem;
    padding:1rem;
}

.nav-link:hover,
.nav-link:focus{
    background:linear-gradient(to top,var(--main-accent-color),var(--main-accent-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;/* make text fancy */
}

.top-nav.open{
    top:0;
    border-radius: inital;
}

.menu-toggler{
    position:absolute;
    top:5rem;
    right: 5rem;
    width:5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition:transform 650ms ease-out;
}


.menu-toggler.open{
    transform:rotate(-45deg);
}

.bar{
    background: linear-gradient(to right,var(--main-accent-color),var(--main-accent-color2));
    width:100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin:right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.start{
    transform:rotate(-95grad) translateX(.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin:left;
    transition:transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.end{
    transform:rotate(-95grad) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 20rem;
    font-family: 'Billion Dreams',sans-serif;
    background:linear-gradient(to top,var(--main-accent-color),var(--main-accent-color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 400;
}

.about .container{
    display: flex;
    align-items: center;
    align-content: center;
}

.about-heading {
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
    font-family: 'Billion Dreams',sans-serif;
    text-align: start;
}

.about-heading h6{
    font-size: 4rem;
    font-weight: 300;
    font-family: 'Billion Dreams',sans-serif;
    text-align: right;
}

.fav-font{
    font-family: 'Billion Dreams',sans-serif;
}

.profile-img{
    flex:1;
    margin-right: 5rem;
    border-radius: 25px;
}

.about-details{
    flex:1;
}

.social-media{
    margin-top: 5rem;
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
    margin-left: 2rem;
    margin-right: 2rem;
}

.fa-facebook-square:hover{
    color:#4267b2;
}
.fa-twitter-square:hover{
    color:#00acee;
}
.fa-instagram-square:hover{
    color:#C13584;
}
.fa-deviantart:hover{
    color:#00e59b;
}
.fa-artstation:hover{
    color:#00cae5;
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap:2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
    transition: color 650ms;
}
.skill:hover{
    cursor:pointer;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:2rem -2px 2rem 0;
}

.icon-container{
    height: 10rem;
    width: 10rem;
    border: 3px solid var(--main-accent-color);
    background-color: var(--main-accent-color2);
    margin-bottom: 2rem;
    display: flex;
    transform:rotate(45deg);
}

.icon-container i{
    color:var(--main-accent-color3);
    font-size: 5rem;
    margin:auto;
    transform:rotate(-45deg);
    transition: color 650ms;
}

.skill:hover .icon-container{
    border:3px solid var(--main-accent-color2);
    background-color: var(--main-accent-color);
}
.skill:hover .icon-container i{
    color:var(--main-accent-color2);
}

.portfolio-item{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.portfolio-item:last-child{
    margin-bottom: 0;
}
.profile-img{
    width: 50rem;
    flex:1;
}
.portfolio-img{
    width: 100rem;
    flex:1;
}

.portfolio-description{
    flex:2;
}

.portfolio-description h6{
    font-size:1.5rem;
    text-transform:uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin:1rem 0
}

.cta{
    display: inline-block;
    margin-top:2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--main-accent-color3);
    transition:color 650ms;
}
.portfolio-description .cta:hover{
    color:var(--main-accent-color);
}

.timeline ul{
    border-left: 4px solid var(--main-accent-color);
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin:0 auto;
    position:relative;
    padding:5rem;
    list-style: none;
    text-align: left;
    width:70%;
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .4;
}

.timeline .date{
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    margin-bottom:1rem;
    padding-bottom:1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom:0;
    margin-bottom:0;
    border:none;
}

.timeline .date::before,
.timeline .date::after{
    position:absolute;
    display:block;
    top:50%;
    transform:translateY(-50%);
}

.timeline .date::before{
    content:attr(data-date);
    left:-21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content:'';
    box-shadow: 0 0 0 4px var(--main-accent-color2);
    border-radius: 100%;
    left: -6rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
}

.contact{
    background-color: rgba(0, 0, 0, 0.5);
}

form{
    width: 70%;
    margin:0 auto;
}

form label{
    font-size: 1.5rem;
}

input,select,textarea{
    width:100%;
    padding:1rem;
    margin-top: 5px;
    border:none;
    outline-color: var(--main-accent-color);
}

input[type="submit"]{
    width: initial;
    background-color: var(--main-accent-color2);
    color:var(--main-accent-color);
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor:pointer;
    transition:background-color 650ms;
}

input[type="submit"]:hover{
    background-color:var(--main-accent-color);
    color:var(--main-accent-color2);

}

.copyright{
    width: 100%;
    text-align: center;
    background-color: black;
    padding:2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--main-accent-color2);
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display:flex;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.up i{
    color: var(--main-accent-color);
    font-size: 2rem;
    margin:auto;
    
}

.copyright p{
    font-size: 1.4rem;
}

i{
    font-size: 5rem;
    transition: color 650ms;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
 
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    margin-top:10%;
    padding: 20px;
    position: relative;
    /* color:black; */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

  /* The Close Button */
.close, .fa-times{
    color: greenyellow;
    z-index: 1000;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top:-10px;
    right:-10px;
    margin:0;
    max-width: 20px;

}
.relative{
    width:80%;
    position: relative;
    margin: auto;
}

.fa-times{
     color:red;
 }

.close:hover,
.close:focus,.fa-times:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:1.5rem;
    grid-template-areas: 
        'img-1 img-2 img-3 img-4'
        'img-5 img-6 img-7 img-8';
    }


.image-gallery a{
    width:100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i{
    color:rgba(255,255,255,0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding:1rem 3rem;
    border:2px solid rgba(255,255,255,0.6);
    border-radius: .4rem;
    opacity:0;
    transition: opacity .5s;
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.8);
    opacity:0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity:1;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(120,190,33,0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(120,190,33,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(120,190,33,0);
    }
}

/* media queries */

@media screen and (max-width:768px){
   
    .landing-text h1{
        font-size: 15rem;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }

    .li{
        margin: 2rem 0;
    }

    .nav-links{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
        margin-top: 5rem;
    }
    
    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;

    }
    .about .container{
        flex-direction: column;
    }
    
    .profile-img {
        margin-right: 0;
    }

    .social-media i{
        margin-left:1rem;
        margin-right: 1rem;
    }

    .about-details li{
        margin:0 auto;
    }

    .about-details p{
        width:100%;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }
    .timeline date::before{
        left: -20rem;
    }
    .timeline date::after{
        left:-6.5rem;
    }
}

@media screen and (max-width:600px){
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }
    .landing-text{
        align-items: center;
    }
    .landing-text h1{
        font-size: 8rem;
    }
    .landing-text h6{
        font-size:1.4rem;
    }
    .nav-link{
        font-size: 3.5rem;
    }
    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin:0 0 7rem 0;
        width: 70%;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img {
        margin:0 0 2rem 0;
        order:1;
        width: 70%;
        height: auto;
    }

    .portfolio-description{
        margin:0;
        order:2;
    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date:before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    .up{
        right: 2rem;
    }
    .container{
        margin-right:auto;
        margin-left: auto;
    }
    .input{
        margin-left: auto;
        margin-right: auto;
    }
    .about p{
        padding: 1rem;
    }
    .body{
        height: 100vh;
    } 
    /* https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
}



@media screen and (max-width:1000px){
    .video-container{
        width:500px;
    }
}

@media screen and (max-width:600px){
    .video-container{
        width:300px;
    }
}

@media screen and (max-width:350px){
    .video-container{
        width:200px;
    }
}